@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
  --main-color:hsl(36, 66%, 62%);
  --primary-color:#312e2e;
}

/* Utility Styles */

button{
  padding: 10px 30px;
  background: var(--main-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 24px;
  font-weight: bold;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #100e0f;
}

/* Nav Start */

nav{
  z-index: 1;
  transform: translateY(30px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
  /* padding-top: 15px; */
}

li{
  display: inline;
  list-style: none;
  font-size:25px;
  font-family: 'Times New Roman', Times, serif;
}

li a{
  color: wheat;
  text-decoration: none;
  margin: 0px 30px;
  padding-bottom: 10px;
}

li a:hover{
  border-bottom: 2px solid var(--main-color);
  border-radius: 0px;
}

/* Nav ends */

/* Header Start */

.header{
  z-index: -1;
  background: url(Images/pexels-nao-triponez-129207.jpg), no-repeat;
  background-position: center ; /* top aligns the image */
  background-size: cover;   
  height: 100vh;
  font-family: "Playfair Display SC",serif;
  font-weight: normal ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 249, 249);
  position: relative;
  text-align: center;
  transform: translateY(-20px);
}

.main-headings{
  position: absolute;
  top: 12rem;
  left: 37%;
  font-size: 4rem;
  font-family: 'Times New Roman', Times, serif;
  word-spacing: 10px;

}

.primary-headings{
  position: absolute;
  bottom: 6rem;
  font-size: 4rem;
  left: 37%;
}

.main-btn{
  position: absolute;
  bottom: 2rem;
  padding: 10px 30px;
  transform: translateY(20px);
  left: 46%;
  font-size: 2rem;
  background-color: transparent;
  background: var(--main-color);
  border-radius: 6px;
}

#our-story{
  height: 100vh;
  color: white;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.img{
  width: 400px;
  height: 600px;
  background: url(Images/pexels-chitokan-2183027-removebg-preview.png);
  background-position: center;
  background-size: cover;
  transform: scale(1.5) translateX(20px);

  
}



.title{
  font-size: 4rem;
  font-family: "Playfair Display";
  
}

.line {
  display: block;
  width: 280px;
  height: 1px;
  background: #fff;
 transform: translateY(90px);
}
.section-content p {
 max-width: 600px;
  color: white;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 25px;
  margin: 20px 0px;
}

.section-content{
  transform: translateX(-50px) translateY(50px);
}

.btnn{
  font-size: 24px;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;

}

button:hover{
  background-color: hsl(36, 66%, 39%);
}


.coffee-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.img-2{
  width: 600px;
  height: 600px;
}

.coffee-container p{
  max-width: 600px;
  color: white;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 25px;
  margin-bottom: 20px;
}

.title-two{
  font-family: "Playfair Display";
  color: white;
  font-size: 3rem;
}